/* #content{
    max-width: 1600px;
    margin: 0 auto;
} */
body {
    background: linear-gradient(to top, #fcfcfb , #b1e99f, #fde33b, #fcfcfb 90%), url(1.jpg);
    font-family: 'Open Sans', 'Benas Neue';
}

h1,
h2,
h3,
header p {
  font-family: "Bebas Neue", "Open Sans", sans-serif;
  letter-spacing: 1.5px;
}

header {
  padding: 0.5rem;
  display: grid;
  /* flex-direction: left; */


  /* gap: 0.5rem; */
  grid-template-columns: 150px auto;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header p {
  margin: 0;
}

.logo {
  max-width: 50px;
  justify-self: center;
  align-self: center;
}

#menu-button {
  background: none;
  border: none;
  font-size: 2rem;
  width: 50px;
  height: 50px;
}

#menu-button::before {
  content: "≡";
}

#menu-button.close::before {
  content: "X";
  font-size: 1rem;
}

nav ul {
  margin: 0;
  padding: 0;
  /* display: inline; */
  list-style: none;
  z-index: 1;
  opacity: 0.9;
}
nav ul li{
    margin: auto;
    /* display: inline; */
    justify-content: left;
    
}
nav ul.open {
  display: block;
  background-color: #fde33b;
  margin: 0;
  width: 150px;
  position: absolute;
  top: 4rem;
  right: 0;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.75rem;
  transition: 0.5s;
}

nav ul li:hover a {
  background-color: #fde33b;
  color: black;
}

nav ul li.active {
  text-decoration: underline 2px #b59d45;
}
.join {
    width: 100px;
    float: right;
    /* display: flex; */
    flex-direction: right;
    margin-left: 500px;
    background: black;
    height: 30px;
    border-radius: 10px;
    text-decoration: none;
    font-family: Open Sans;
}
.join a {
    text-decoration: none;
    font-family: Open sans;
    color: #fcfcfb;
    font-size: 16px;
}
.join:hover {
    color:#fde33b;
}
main, section{
    text-align: center;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.news {
    grid-column: 1/2;
    grid-row: 2/2;
    margin-top: 100px;
    margin-left: 25px;
   
}
.news .par{
    padding-bottom: 20px;
    font-family: Open Sans;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 1.2em;
   
}
.news h1{
    font-family: Bebas Neue;
    font-size: 40px;
    text-decoration: solid;
    
}
.contact{
    grid-column: 1/3;
    grid-row: 3/3;
    margin-left: 25px;
    margin-top: -50px;
}
.contact.jn {
    width: 150px;
    /* float: left;  */
    height: 30px;
    margin-top: 75px;
    padding: 15px, 20px;
    text-decoration: none;
    font-family: Open Sans;
    cursor: pointer;
}
.contact .jn a {
    text-decoration: none;
    font-family: Open sans;
    color: black;
    font-size: 16px;
}
.contact .discover {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    text-decoration: none;
    font-family: Open Sans;
    cursor: pointer;
    background: none;
    border-color: #b1e99f;
}
.contact .discover a {
    text-decoration: none;
    font-family: Open sans;
    color: black;
    font-size: 12px;
} 
.hero-card{
    grid-column: 3/5;
    grid-row: 1/3;
}
.hero-img {
    width: 500px;
    height: 600px;
    position: absolute;
  
}
.weather-card {
    grid-column: 6/7;
    grid-row: 2/2;
    /* margin: 0 auto; */
    padding: 5px 30px;
    margin-left: 300px;
    width: 200px;
    height: 300px;
    border-radius: 3px;
    background-color: none;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
    -webkit-animation: open 2s cubic-bezier(.39, 0, .38, 1);
}
.company1 {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left: 25px;

  }
  .company2 {
    grid-column: 4/5;
      grid-row: 3/4;
  }
 .company3 {
    grid-column: 6/7;
    grid-row: 3/4;
    margin: 0 55px 0 -55px;
   
  }
  .company1, .company2, .company3{
    margin-top: 300px;
    height: 200px;
    
    border: 1px solid #b1e99f;
    transition: transform .5s;
    background-color: #fcfcfb;
    padding-bottom: 15px;
    padding: 40px;
    text-align: center;
    box-shadow: 5px 5px 10px #01302a;
    margin: 25px auto;
    margin: 25px auto;
    
}
.icon a{
    margin-top: 20px;
    text-decoration: none;
    color: black;
  }
  footer {
    margin-top: 50px; 
    display: flex;
    flex-direction: column;
}
  
footer h3{
    background-color: none;
    color: black;
}
footer a{
    text-align: center;
    background-color: none;
    color: black;
    text-decoration: none;
}
footer a:hover{
    background-color: black;
    color:#fde33b;
}
footer h3 a:hover{
    text-decoration: underline;
}
footer .icon{
    padding-top: 15px;
}



/* DISCOVER */
  div.discover {
    background-color: #b1e99f;
    display: flex;
    flex-direction: column;
  }
  
  div.discover h1 {
    text-align: center;
    margin-bottom: 0;
    border-bottom: solid 2px #224b0c;
  }
  
  div.discover hr {
    height: 2px;
    background-color: #224b0c;
    margin: 0;
  }
  section.demographics {
    text-align: center;
    margin: 1rem;
  }
  
  section.discover-imgs figure {
    text-align: center;
  }
  
  section.discover-imgs img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: solid 1px #224b0c;
  }