*{
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to top, #fcfcfb , #b1e99f, #fde33b, #fcfcfb 90%), url(1.jpg);
    
    font-family: 'Open Sans', 'Benas Neue';
    font-size: 16x;
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    /* background: linear-gradient(to top, #fcfcfb , #b1e99f, #fde33b, #fcfcfb 75%), url(1.jpg); */
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.navbar {
    width: 1600px;
    height: 75px;
    margin: auto;
}
.icon img{
    float: left;
    margin-top: 91px;
    margin-left: 20px;
    height: 45px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 300px;
    float: left;
    height: 70px;
    
}
.chamber{
    color: black;
    font-size: 25px;
    font-family: Bebas Neue;
    padding-left: 2px;
    float: left;
    margin: 0;
    font-family: Bebas Neue;
    font-size: 18px;
    margin-top: 115px;
    margin-left: -68px;
}
.logo {
    color: black;
    font-size: 35px;
    font-family: Bebas Neue;
    padding-left: 2px;
    float: left;
    padding-top: 20px ;
    margin-top: 65px;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

#menu-button {
    background: none;
    border: none;
    font-size: 2rem;
    width: 48px;
    height: 48px;
    text-align: center;
  }
  
  #menu-button::before{
    content: "≡";
  }
  
  #menu-button.close::before {
    content: "X";
    font-size: 1rem;
  }
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style: none;
    margin-left: 32px;
    margin-top: 115px;
    font-size: 15px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-family: Open Sans;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover {
    color: #b1e99f;
}
.join {
    width: 100px;
    float: left;
    margin-left: 670px;
    background: black;
    height: 30px;
    margin-top: 115px;
    border-radius: 10px;
    text-decoration: none;
    font-family: Open Sans;
}
.join a {
    text-decoration: none;
    font-family: Open sans;
    color: #fcfcfb;
    font-size: 16px;
}
.join:hover {
    color:#fde33b;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.news {
    grid-column: 1/3;
    grid-row: 1/1;
    margin-left: 25px;
    margin-top: -100px;
}
.news .par{
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: Open Sans;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 1.2em;
   
}
.news h1{
    font-family: Bebas Neue;
    font-size: 40px;
    padding-left: 20px;
    margin-top: 2px;
    text-decoration: solid;
    
}
.contact{
    grid-column: 1/3;
    grid-row: 2/3;
    margin-left: 25px;
    margin-top: -50px;
}
.contact.jn {
    width: 150px;
    float: left; 
    height: 30px;
    margin-top: 75px;
    padding: 15px, 20px;
    text-decoration: none;
    font-family: Open Sans;
    cursor: pointer;
}
.contact .jn a {
    text-decoration: none;
    font-family: Open sans;
    color: black;
    font-size: 16px;
}
.contact .discover {
    width: 100px;
    height: 30px;
    text-decoration: none;
    font-family: Open Sans;
    cursor: pointer;
    background: none;
    border-color: #b1e99f;
}
.contact .discover a {
    text-decoration: none;
    font-family: Open sans;
    color: black;
    font-size: 12px;
} 
.hero-card{
    grid-column: 2/3;
    grid-row: 1/1;
}
.hero-img {
    width: 500px;
    height: 600px;
    position: absolute;
    top: 79px;
    left: 750px;
   
}
.weather-card {
    grid-column: 3/3;
    grid-row: 1/1;
    margin: 0 auto;
    margin-top: -20%;
    padding: 5px 30px;
    margin-left: 300px;
    width: 200px;
    height: 300px;
    border-radius: 3px;
    background-color: none;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
    -webkit-animation: open 2s cubic-bezier(.39, 0, .38, 1);
}
.company1 {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-left: 50px;
  }
  .company2 {
    grid-column: 2/3;
      grid-row: 2/3;
  }
 .company3 {
    grid-column: 3/3;
    grid-row: 2/3;
   
  }
  .company1, .company2, .company3{
    margin-top: 300px;
    width: 95%;
    height: 300px;
   box-shadow: 4px 4px 4px #fcfcfb;
    border: 1px solid #b1e99f;
    margin-left: 45px;
    transition: transform .5s;
    background-color: #fcfcfb;
    padding-bottom: 15px;
    padding: 20px;
    text-align: justify;
}

  footer {

    margin-top: 50px; 
    display: flex;
    align-items: center;
}
  
footer h3{
    background-color: none;
    color: black;
}
footer a{
    text-align: center;
    background-color: none;
    color: black;
    text-decoration: none;
}
footer a:hover{
    background-color: black;
    color:#fde33b;
}
footer h3 a:hover{
    text-decoration: underline;
}
footer .icon{
    padding-top: 15px;
}
  /* .icon a{
    margin-top: 20px;
    text-decoration: none;
    color: black;
  } */
