/* #content{
    max-width: 1600px;
    margin: 0 auto;
} */
body {
    background: linear-gradient(to top, #fcfcfb , #b1e99f, #fde33b, #fcfcfb 90%), url(1.jpg);
    font-family: 'Open Sans', 'Benas Neue';
}

h1,
h2,
h3,
header p {
  font-family: "Bebas Neue", "Open Sans", sans-serif;
  letter-spacing: 1.5px;
}

header {
  padding: 0.5rem;
  display: grid;
  /* flex-direction: left; */


  /* gap: 0.5rem; */
  grid-template-columns: 150px auto;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header p {
  margin: 0;
}

.logo {
  max-width: 50px;
  justify-self: center;
  align-self: center;
}

#menu-button {
  background: none;
  border: none;
  font-size: 2rem;
  width: 50px;
  height: 50px;
}

#menu-button::before {
  content: "≡";
}

#menu-button.close::before {
  content: "X";
  font-size: 1rem;
}

nav ul {
  margin: 0;
  padding: 0;
  /* display: inline; */
  list-style: none;
  z-index: 1;
  opacity: 0.9;
}
nav ul li{
    margin: auto;
    /* display: inline; */
    justify-content: left;
    
}
nav ul.open {
  display: block;
  background-color: #fde33b;
  margin: 0;
  width: 150px;
  position: absolute;
  top: 4rem;
  right: 0;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.75rem;
  transition: 0.5s;
}

nav ul li:hover a {
  background-color: #fde33b;
  color: black;
}

nav ul li.active {
  text-decoration: underline 2px #b59d45;
}
.join {
    width: 100px;
    float: right;
    /* display: flex; */
    flex-direction: right;
    margin-left: 500px;
    background: black;
    height: 30px;
    border-radius: 10px;
    text-decoration: none;
    font-family: Open Sans;
}
.join a {
    text-decoration: none;
    font-family: Open sans;
    color: #fcfcfb;
    font-size: 16px;
}
.join:hover {
    color:#fde33b;
}
div.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: stretch;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

.icon a{
    margin-top: 20px;
    text-decoration: none;
    color: black;
  }

  footer .icon{
margin-top: -50px;
    padding-top: 5px;
}


footer {
  background-color: #b1e99f;
  color: black;
}

footer section {
  padding: 1rem;
}

footer p {
  margin: 0;
  line-height: 1.3rem;
}

footer a {
  color: black;
}


/* DISCOVER */
  div.discover {
    background-color: #b1e99f;
    display: flex;
    flex-direction: column;
  }
  
  div.discover h1 {
    text-align: center;
    margin-bottom: 0;
    border-bottom: solid 2px #224b0c;
  }
  
  div.discover hr {
    height: 2px;
    background-color: #224b0c;
    margin: 0;
  }
  section.demographics {
    text-align: center;
    margin: 1rem;
  }
  
  section.discover-imgs figure {
    text-align: center;
  }
  
  section.discover-imgs img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: solid 1px #224b0c;
  }
 /* join */
 .form-heading{
  margin-top: 60px;
  margin-left: 70px;
  margin-bottom: -2px;
  text-align: left;
}

.form{
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  margin: 0 70px;
}

form fieldset{
  margin:0 0;
  border: var(--field-bord-color);
  border-radius: 10px;
  padding: .5px 2%;
 
}
form legend{
  color: var(--lgnd-color);
  margin: 0 1rem;
  padding: 0 .5rem;
}
.output-msg legend{
color: var(--lgnd-color);
  margin: 0 1rem;
  padding: 0 .5rem;
  
}
form label.top, form div{
  display: block;
  padding-top: 1rem;
  color: blue;
  font-size: .85rem;
}
form label.top input, form label.top select, form label.top textarea{
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
}

.output-msg fieldset{
  margin:0 0;
  border: var(--field-bord-color);
  border-radius: 10px;
  padding: .5px 2%;
  height: 90.6%;
}



form input.submitBtn{
  border: none;
  background-color: #9c2c13;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: .75rem 0 2rem 2%;
  width: 96%;
  max-width: 96%;
}
form label.top input:required{
  border-left: red solid 6px;
}
form label.top input:required:valid{
  border-left: green solid 6px;
}

.input-msg{
  width: 50%;
}
.output-msg{
  width: 50%;
  
}
form label.sbs{
  display: block;
  padding: .75rem 0;
  color: #555;
}
form label.sbs, input{
margin-right: 10px;
font-size: 0.8rem;
}
.input-msg p{
color: blue;
margin-bottom: -7px;
font-size: 0.8rem;
}

.output-msg p{
font-size: 16px;
padding-top: 20px;
}


/*thanks.html page*/
.thanks, .thanks ~ p{
margin-top: 50px;
color: blue;
text-align: center;
}


/* for directory */
h1.directory{
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: solid 2px #224b0c;
}

div.menu {
  text-align: center;
}

div.menu button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: solid 1px #224b0c;
}
div#members a {
  color: black;
}

/*Grid*/
div.grid {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;
  margin: 1rem auto;
}

div.grid section {
  text-align: center;
  margin: 0.5rem;
  border: solid 1px #224b0c;
  border-radius: 5px;
}

div.grid-card img {
  max-width: 100%;
  margin: 0.5rem;
}
div.grid-card h3,
div.grid-card p {
  margin: 0.2rem 0;
}

/*List*/
div.list {
  max-width: 1000px;
  margin: 1rem auto;
}
div.list section {
  display: grid;
  grid-template-columns: 60px repeat(5, auto);
  text-align: center;
  margin: 0.5rem 2rem;
  border: solid 1px #224b0c;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
}
div.list img {
  width: 50px;
  height: auto;
  justify-self: center;
}