@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Dancing+Script&family=Open+Sans:wght@300&display=swap')

* {
    box-sizing: border-box;
}
body {
    display: grid;
    height: 100vh;
    font-size: 16px;
    background-color: rgb(223, 205, 219);
    
}

nav {
    display: flex;
    justify-content: right;
    background-color: rgb(223, 205, 219);
    gap: 1rem;
    padding: 1rem;
    
}
nav *:nth-child(1) {
    padding-right: 0;
}
nav a{
    text-decoration: none;
    background-color: rgb(223, 205, 219);
    color: rgb(46, 3, 46);
    padding: 20px;
    font-size: 20px;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    /* grid-template-columns: repeat(3, 1fr); */
    padding: 20px;
    background-color: rgb(56, 3, 40);
}
h1 {
    color: white;
    text-align: center;
    font-size: 45px;
    margin-top: 75px;
    font-family: Alegreya Sans SC;
    text-transform: uppercase;
}
svg {
    filter: brightness(0) invert(1);
    color: yellow;
}
#profile {
    max-width: 125px;
    grid-column: 1 / 2;
    padding: 10px;
    margin-left: 3rem;
}

main {
    color: black;
    max-width: 760px;
    margin: 0 auto;
    display: block;
    margin-bottom: 2rem;
}


.card a {
    grid-column: 1/2;
}
ul {
    grid-column: 1/2;
    padding: 30px;
    background-color: rgb(223, 205, 219);;
    border-radius: 15px;
    font-size: 16px;
    color:rgba(56, 3, 40);
}


h2 {
    text-decoration: underline;
    font-size: 40px;
    text-align: center;
    grid-column: 1/-1;
    color: rgba(56, 3, 40);
    border-bottom: 1px solid black;
}
h3 {
    background-color: rgba(56, 3, 40);
    color: white;
    text-align: center;
    margin: 0;
    border-radius: 8px 8px 0 0;
}
section {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px rgba(89, 100, 108, 0.5);
    margin: 2rem;
}
#activities {
    grid-column: 1 / 2;
    grid-row: 2/4;
    line-height: 2rem;
}

#project {
    grid-column: 2 / 3;
    text-align: center;
}

#information {
    grid-column: 2 / 3;
}

#information div{
    padding: 10px 0 0 20px;
}
.highlight {
    text-align: center;
    font-size: 12px;
    color: yellow;
}
footer {
    background-color: rgb(56, 3, 40);
    padding: 5px;
    margin: 5px;
}
footer p {
    color: white;
}


