/* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Dancing+Script&family=Open+Sans:wght@300&display=swap') */

* {
    box-sizing: border-box;
}
body {
    display: grid;
    height: 100vh;
    font-size: 16px;
    
}
nav {
    display: flex;
    background-color: white;
    gap: 1rem;
    padding: 1;
}
header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 16px;
    background-color: rgb(229, 255, 0);
}
img {
    max-width: 50%;
    max-height: auto;
}
.card {

}
ul {

}
h1 {
    color: white;
    text-align: right;
    
}
/* @media screen {
    nav {
        display: flex;
        background-color: white;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1;
    }
} */